*
{
  font-family:'Poppins';
  margin: 0;
  padding: 0;
}

ul li
{
  display: inline-block;
  list-style: none;
  margin: 0 0.2em;
}

nav
{
  font-size: .2em; 
  background: #1e57b2;
  color: #ffffff;
  float: right;
  width: 100vw;
  position: absolute;
  top: 0;
  right:0;
  clear: none;
  margin-top: 0;
  margin-bottom: -3em;
  display: none;
}

nav ul li
{
  margin-top: .3em;
  margin-bottom: .3em;
}

#nav-button
{
  height: 1.8em;
  padding: .1em;
  z-index: 100;
  font-family: "Material Icons"; 
  position: fixed;
  content: "settings";
  right: 0;
  top: 0;
  background-color: #1e57b2;
  color: #FFFFFF;
  font-weight: bold;
  font-size: .25em;
  border: none;
}

#scoreboard
{
  font-size: .5em;
  border: 1px solid #c4c4c4;
  margin: .1em;
  padding: 0;
}

h2
{
  font-size: 1.5em;
  padding: .25em;
  display: inline-block;
}

#current-level
{
  font-size: 1.8em;
  font-weight: bold;
  color: #1e57b2;
}

.correct
{
  color: #20b21e;
}

.incorrect
{
  color: #b21e1e;
}

body
{
  text-align: center; 
  font-size: 6vw; 
  color: #1e57b2;
}

#game input[type=text]
{
  font-size: 6vw; 
  height: 6vw;
  width: 12vw;
  padding: .2em;
  border: 1px solid #000;
  background: #fff; 
}

#game input[type=submit]
{
  display: block;
  width: 90%;
  margin: .5em auto;
  padding: .25em;
  background-color: #1e57b2;
  color: #fff;
  text-align: center;
  border: none;
  font-size: 1em;
}

#flash
{
  font-size: 2.5em; 
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  float: left;
  top:0;
  left:0;
  padding: 10% 0 0 0;
  display: none;
}

.yay
{
  color:#fff;
  background: #20b21e;
}

.boo
{
  color:#fff;
  background: #b21e1e;
}